$color-white: white;
$color-theme: #d81e06;
$color-blue: rgb(20, 153, 206);
$color-gray: gray;
$color-essential: #333333;
/* 默认文字大小 */
$base-font: 20px;

/* 分割线颜色 */
$common-line: #e5e5e5;

/* 通用边框颜色 */
$common-border: 1px solid #ccc;

/* 页面初始样式 */
@mixin init-page($width:100%, $height:100%, $fontSize:$base-font,) {
  width: $width;
  height: $height;
  font-size: $fontSize;
  box-sizing: border-box;
}