$color-white: white;
$color-theme: #d81e06;
$color-blue: rgb(20, 153, 206);
$color-gray: #999999;
$color-essential: #333333;
/* 默认文字大小 */
$base-font: 22px;

/* 标题文字 */
$font-title: 24px;
$font-weight: 700;

/* 组件上边距 */
$margin-top: 10px;

/* 分割线颜色 */
$common-line: #e5e5e5;

/* 通用边框颜色 */
$common-border: 1px solid #ccc;

/* 页面初始样式 */
@mixin init-page($width:100%, $height:100%, $fontSize:$base-font,) {
  width: $width;
  height: $height;
  overflow: hidden;
  overflow-y: auto;
  font-size: $fontSize;
  box-sizing: border-box;
  background: #efefef;
}

/* 限制文本行数 */ 
@mixin text-line() {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 清除浮动 */
@mixin clearFolat() {
  display: table;
  content: "";
}